# cluster members
{# note that we use ansible_host, but it might be better to set the desired IP in a var #}
{% for host in groups['local-zookeepers'] %}
{%   set ipaddr = hostvars[host].ansible_host %}
{%   set id = hostvars[host].ZookeeperMyid %}
server.{{ id }}={{ ipaddr }}:2888:3888;2181
{% endfor %}

