[Unit]
Description=ZooKeeper
Before=
After=network.target

[Service]
Type=forking
User=zookeeper
Environment=ZOOCFGDIR={{ ZookeeperConfDir }}
ExecStart={{ ZookeeperRoot }}/current/bin/zkServer.sh start
Restart=on-abort

[Install]
WantedBy=multi-user.target
